.btn {
  background: var(--background-inverse);
  color: var(--color-inverse);
  border-radius: var(--border-radius);
  height: 2rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
}
.btn:hover {
  opacity: 0.8;
}
.btn:disabled {
  color: #999;
  background: #ddd;
  cursor: not-allowed;
}
