.title {
  font-weight: bold;
  color: var(--color-text);
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0;
}
.profile {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing) 0;
  width: 100%;
}
.avatar {
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 250px;
  padding: var(--spacing);
  background: var(--background-secondary);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.avatar__img {
  width: 100%;
  border-radius: var(--border-radius);
}
.info {
  width: auto;
  flex-shrink: 1;
  padding-left: var(--spacing);
  min-width: 200px;
  flex-grow: 2;
  text-align: right;
}
.info__list {
  background: var(--background-secondary);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  text-align: left;
}
.info__list li {
  line-height: var(--text-line-height);
  font-weight: bold;
  border-bottom: 1px dotted var(--background-inverse);
  padding-bottom: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}
.info__link {
  margin-top: 10px;
  display: inline-block;
  color: var(--color-link);
}
