.label {
  display: block;
  font-size: var(--font-size-md);
  margin-bottom: 0.25rem;
}
.search {
  display: flex;
  justify-content: space-between;
}
.input {
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text);
  width: 100%;
  padding: 0.25rem;
  font-size: var(--font-size-md);
}
